tr.first-row{
    background-color: grey;
}
tr.second-row{
    background-color: lightcoral;
}
tr.third-row{
    background-color: grey;
}
tr.fourth-row{
    background-color:lightcoral ;
}
h1.my-name{
    color:darksalmon}
 
    